@import "tailwindcss";

:root {
  /* Light & Dark 원본 정의 */
  --background-light: oklch(0 0 0);
  --background-dark: oklch(0.208 0.042 265.755);
  --foreground-light: oklch(0.1 0.02 265);
  --foreground-dark: oklch(0.985 0.001 265);


  /* Light모드 UI */
  --color-bg-light: oklch(1 0 0);
  --color-bgSub-light: oklch(1 0 0);
  --color-ui-light: oklch(0.9 0 0);
  --color-uiSub-light: oklch(1 0 0);
  --color-border-light: oklch(0.6 0 0);
  --color-shadow-light: oklch(0.7 0 0);
  --color-text-light: oklch(0.2 0 0);
  --color-textWhite-light: oklch(0 0 0);
  --color-textSub-light: oklch(0.4 0 0);
  --color-textShadow-light: oklch(0.6 0 0);

}

.dark {
  /* Dark모드 UI */
  --color-bg: oklch(0.279 0.041 260.031);
  --color-bgSub: oklch(0.208 0.042 265.755);
  --color-ui: oklch(0.319 0.041 260.031);
  --color-uiSub: oklch(0.446 0.043 257.281);
  --color-border: oklch(0.279 0.041 260.031);
  --color-shadow: oklch(0.985 0.001 265);
  --color-text: oklch(1 0 0 / 80%);
  --color-textWhite: oklch(1 0 0);
  --color-textSub: oklch(0.704 0.04 256.788);
  --color-textShadow: oklch(0.446 0.043 257.281);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: oklch(0.75 0.183 55.934);
  --color-accent: oklch(0.75 0.183 55.934);

  /* 최초에는 다크모드 기준 */
  --color-bg: var(--color-bg);
  --color-bgSub: var(--color-bgSub);
  --color-ui: var(--color-ui);
  --color-uiSub: var(--color-uiSub);
  --color-border: var(--color-border);
  --color-shadow: var(--color-shadow);
  --color-text: var(--color-text);
  --color-textWhite: var(--color-textWhite);
  --color-textSub: var(--color-textSub);
  --color-textShadow: var(--color-textShadow);
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
}
