@import "tailwindcss";

:root {
  --background: oklch(14.5% 0 0);
  --foreground: oklch(98.5% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-neutral-50:  oklch(0.984 0.003 247.858);
  --color-neutral-100: oklch(0.968 0.007 247.896);
  --color-neutral-200: oklch(0.929 0.013 255.508);
  --color-neutral-300: oklch(0.869 0.022 252.894);
  --color-neutral-400: oklch(0.704 0.04 256.788);
  --color-neutral-500: oklch(0.554 0.046 257.417);
  --color-neutral-600: oklch(0.446 0.043 257.281);
  --color-neutral-700: oklch(0.372 0.044 257.287);
  --color-neutral-800: oklch(0.279 0.041 260.031);
  --color-neutral-900: oklch(0.208 0.042 265.755);
  --color-neutral-950: oklch(0.129 0.042 264.695);
  
  

  --color-primart: oklch(0.985 0 0);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
}
